// footer
.v-footer {
  // background: $black !important;
  background: radial-gradient(
    at Top left,
    rgba(5,10, 10, 2) 20%,
    rgba(24, 9, 30, 1) 100%
  ) no-repeat center center fixed  !important; 
  height: max-content;
  // background: url(../coffee-apple.jpg) no-repeat center center fixed !important;

  .v-card__text {
    @media only screen and (max-width: 599px) { 
      padding: 16px 0;
    }

    .v-btn {
      @media only screen and (max-width: 599px) { 
        margin: 0 7px !important;
      }
    }
  }
}